<!-- Navbar -->
<!-- Navbar -->
<div >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cobsac</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')" >Home</a>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link " routerLink="products" [ngClass]="{active: menuOption == 'products'}" (click)="onOption('products')" >Catálogo</a>
            <ul class="dropdown-menu">
              <li><a href="#" class="dropdown-item">Perfil</a></li>
              <li><a href="#" class="dropdown-item">Configuración</a></li>
              <li><a href="#" class="dropdown-item">Cerrar sesión</a></li>
            </ul>
          </li>

          <li class="nav-item ">
            <a class="nav-link " >
              Nosotros
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact" [ngClass]="{active: menuOption == 'contact'}" (click)="onOption('contact')" >Contactos</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
 
  </nav>

</div>
<router-outlet> </router-outlet> 


